<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Search for a recipe:</h2>
        <p>Try searching by drink name or by ingredients</p>
        <input type="text" id="search-bar" placeholder="Seach for a drink!">
        <h2>Add a recipe</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Drink Name:</label>
            <input type="text" id="cocktail-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Cocktail Name">
          </div>
          <form>
            <div class="form-group row">
              <label for="text" class="col-2 col-form-label">Ingredient:</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-glass"></i>
                    </div>
                  </div>
                  <input id="cocktail-ingredient1" name="text" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="cocktail-ingredient" class="col-2 col-form-label">Ingredient:</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-glass"></i>
                    </div>
                  </div>
                  <input id="cocktail-ingredient2" name="text1" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="text2" class="col-2 col-form-label">Ingredient:</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-glass"></i>
                    </div>
                  </div>
                  <input id="cocktail-ingredient3" name="text2" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="text3" class="col-2 col-form-label">Ingredient:</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-glass"></i>
                    </div>
                  </div>
                  <input id="cocktail-ingredient4" name="text3" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="text4" class="col-2 col-form-label">Ingredient:</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-glass"></i>
                    </div>
                  </div>
                  <input id="cocktail-ingredient5" name="text4" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="text5" class="col-2 col-form-label">Ingredient:</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-glass"></i>
                    </div>
                  </div>
                  <input id="cocktail-ingredient6" name="text5" type="text" class="form-control">
                </div>
              </div>
            </div>

          </form>
          <div class="form-group">
            <label for="example-description">Steps:</label>
            <textarea class="form-control" id="recipe-steps" aria-describedby="example-description"
              placeholder="Enter Recipe steps"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right p-1">Submit</button>
        </form>
        <h3>Drinks:</h3>
        <ul id="cocktail-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>      
      <input type="checkbox" aria-label="Checkbox for following text input">
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
