#home {
  font-family: 'Roboto', sans-serif;
  /* background-image: linear-gradient(to top, #051937, #2e3b57, #556178, #808a9a, #adb4be); */
  background-image: linear-gradient(to right top, #5cc6c3, #54d8bb, #6ae8a6, #96f587, #cdfd63);
}

/* body {
  background-image: linear-gradient(to top, #051937, #2e3b57, #556178, #808a9a, #adb4be);
  height: 100%;
} */

.search{
  margin-top: 15px;
  margin-bottom: 20px;
  width:100%;
}

.list-group-item {
  line-height: 3.5;
  font-size: 18px;

}

a{
  color:black;
  font-size: 22;
  font-weight: bold;
}

.card-body{
  padding:1px;
  margin-top:15px;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#add-recipe{
  background-color:black;
  color:white;
}

#cocktail-name {
  font-weight:bold;
  font-size: 30px;
  text-align:center;
}

#app-title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 40px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    float: right;  
}


.list-group-item {
    line-height: 1.0;
}

/* body {

  background-image: url("curtain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: 30px;
} */

 .favorite{
  padding-left:30px; 
} 

.star {
  font-size: 25px;
	color:gold;
}
