.list-group-item {
  line-height: 2.5;
}


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    float: right;  
}


.list-group-item {
    line-height: 1.0;
}

body {

  background-image: url("curtain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: 30px;
}

